<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register</title>
</head>
<body>
    <div class="icon">
        <img width="512px" height="512px" src="../img/icon.svg">
    </div>
    <div class="container">
        <div class="headerText">
            Train Lookup
        </div>

        <div class="box">
            <form class="register">
                <input name="email" type="text" placeholder="john@doe.com">
                <input name="password" type="password" placeholder="password">
                <button>register</button>
            </form>
        </div>

        <div class="suggestionText">
            <a href="login.html">Already have an account? Log in!</a>
        </div>
    </div>
</body>