<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register</title>
</head>

<body>
    <div class="menu">
        <div class="menuSection"><a class="fill" href="index.html">search</a></div>
        <div class="menuSection"><a class="fill" href="register.html">register</a></div>
        <div class="menuSection"><a class="fill" href="profile.html">profile</a></div>
        <div class="menuSection"><a class="fill" href="login.html">login / logout</a></div>
    </div>

    <div class="container">
        <div class="icon">
            <img src="../img/icon.svg">
        </div>

        <div class="loginContainer">
            <div class="headerText">
                Train Lookup
            </div>

            <form class="register">
                <input name="email" type="text" placeholder="john@doe.com">
                <input name="password" type="password" placeholder="password">
                <button>register</button>
            </form>

            <a href="login.html">Already have an account? Log in!</a>
        </div>
    </div>
</body>